In [1]:
import pandas as pd

In [2]:
dat = pd.read_csv("data.txt", sep= "\t")

In [4]:
kkkk=dat[['user_id','user_location_latitude','user_location_longitude','is_mobile','is_package','channel','srch_adults_cnt','srch_children_cnt']]

In [6]:
kkkk.describe()

,user_id,user_location_latitude,user_location_longitude,is_mobile,is_package,channel,srch_adults_cnt,srch_children_cnt
count,1.088454e+07,8.626950e+06,8.626950e+06,1.088454e+07,1.088454e+07,1.088454e+07,1.088454e+07,1.088454e+07
mean,2.062275e+07,3.892793e+01,-9.183505e+01,2.210556e-01,1.964351e-01,4.189634e+02,2.058712e+00,3.120345e-01
std,1.237027e+09,7.266745e+00,2.783950e+01,4.149579e-01,3.973014e-01,1.289246e+02,8.583064e-01,7.515876e-01
min,-2.147479e+09,-4.288822e+01,-1.665528e+02,0.000000e+00,0.000000e+00,2.310000e+02,0.000000e+00,0.000000e+00
25%,-1.041901e+09,3.405977e+01,-1.171684e+02,0.000000e+00,0.000000e+00,2.930000e+02,2.000000e+00,0.000000e+00
50%,3.307846e+07,3.952317e+01,-8.814383e+01,0.000000e+00,0.000000e+00,5.100000e+02,2.000000e+00,0.000000e+00
75%,1.087143e+09,4.303674e+01,-7.854303e+01,0.000000e+00,0.000000e+00,5.410000e+02,2.000000e+00,0.000000e+00
max,2.147459e+09,7.128938e+01,1.535213e+02,1.000000e+00,1.000000e+00,5.410000e+02,9.000000e+00,9.000000e+00

# dat1 = pd.read_csv("dest.txt", sep ='\t')

In [7]:
dat1.shape

(36407, 144)

In [8]:
dat.shape

(10884539, 27)

In [9]:
trunc = dat.ix[1:1000,:]

In [10]:
hotel = pd.merge(trunc , dat1, left_on='srch_destination_id', right_on = 'srch_destination_id')

In [11]:
hotel.shape

(994, 170)

In [12]:
hotelF = hotel.dropna(axis=0, how='any')

In [13]:
hotelF.shape

(745, 170)

In [57]:
hotelF.columns

Index(['date_time', 'site_name', 'user_location_country',
       'user_location_region', 'user_location_city', 'user_location_latitude',
       'user_location_longitude', 'orig_destination_distance', 'user_id',
       'is_mobile',
       ...
       'popular_naturalfeature_volcanoes', 'popular_activity_walking',
       'popular_activity_waterskiing', 'popular_naturalfeature_waterfalls',
       'popular_attraction_waterparks', 'popular_activity_whalewatching',
       'popular_naturalfeature_wildlife', 'popular_activity_windsurfing',
       'popular_attraction_wineries', 'popular_attraction_zoo'],
      dtype='object', length=170)

In [26]:
user = hotelF[['user_id','user_location_latitude','user_location_longitude','is_mobile','is_package','channel','srch_adults_cnt','srch_children_cnt']]

In [27]:
user_temp=user.groupby(['user_id'])['user_location_latitude','user_location_longitude','is_mobile','is_package','channel','srch_adults_cnt','srch_children_cnt'].agg(lambda x: x.value_counts().index[0]).reset_index()

In [28]:
dummies = pd.get_dummies(user_temp['channel']).rename(columns=lambda x: 'Ctgc_' + str(x))
user_temp = pd.concat([user_temp, dummies], axis=1)

In [29]:
user_temp.drop(['channel'], inplace=True, axis=1)

In [41]:
namelist= list(user_temp["user_id"])

In [31]:
user_temp1 = user_temp.ix[:,2:]

In [32]:
mu = user_temp1.mean()

In [33]:
user_temp1_ad = (user_temp1.as_matrix() - mu[:,None].transpose())

In [34]:
import sklearn.metrics.pairwise

In [35]:
result = sklearn.metrics.pairwise.cosine_similarity(user_temp1_ad, Y=None, dense_output=True)

In [36]:
##namelist and result

In [22]:
indexlist = hotelF.groupby(['hotel_id','user_id'])['hotel_id','user_id']

In [23]:
indexlist.head()

      hotel_id     user_id
0    133800525 -2147479371
1       439889 -2147479371
2     41796865 -2147479371
3    363054980 -2147479371
10    13523873 -2140855089
11   172629172 -2139748963
12   127643119 -2147476571
13    24451838 -2147476571
14      312727 -2147476571
15     1986541 -2147476571
16      343076 -2147471748
17    93272923 -2141589048
18    16702706 -2147412448
19    36907142 -2146426823
20    13072575 -2144800148
21   179642798 -2144800148
22      263158 -2144486298
23     1264365 -2143860371
24     1264365 -2143860371
25    13067212 -2143860371
26      209931 -2142759803
27   167631817 -2142759803
28     1285755 -2142759803
29   142598108 -2141900948
30   142598108 -2141900948
31    17959384 -2141625992
32    18068318 -2141298350
33   356258199 -2140403757
34     8789119 -2139749733
35      200724 -2139749733
..         ...         ...
956   10150794 -2139290400
958   68285993 -2139274475
959   49633076 -2139274475
965     780052 -2139168754
966    6221978 -2139123212
967  301302143 -2139064979
968  151355856 -2139063628
969   27266824 -2139063628
970     428698 -2139063628
971     236870 -2139046709
972     157386 -2139046709
973   29959174 -2138953203
974     445686 -2138943830
975     545196 -2138938566
976      97184 -2138917748
977   14273639 -2138894984
980     356127 -2138860943
981  251687108 -2138853103
982    2229612 -2138829226
983   16092688 -2138829226
984     183457 -2138823143
985    1078706 -2138823143
986   50724710 -2138788605
987  398667377 -2138788605
988  127497264 -2138788605
989  196871513 -2138788605
990  119614646 -2138788605
991  259972819 -2138788605
992  304708237 -2138737806
993   43606583 -2138737806

[745 rows x 2 columns]